.aboutme-top {
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    background-color: #{$prj-page-bg};
    font-family: "roboto", sans-serif;
    background-image: url(../img/pexels-francesco-ungaro-998641.jpg);
    overflow: clip;

    .aboutme-v-wrapper {
        .aboutme-h-wrapper {



            .aboutme-sections {
                display: grid;
                height: fit-content;
                grid-template-columns: 100%;
                grid-template-rows: 6.5rem 4rem 6.5rem auto;

                .aboutme-title {
                    color: #{$aboutme-text-main};
                    width: fit-content;
                    height: fit-content;
                    font-size: 3rem;
                    text-align: center;
                    grid-row-start: 2;
                    grid-row-end: 3;
                    justify-self: center;
                }

                .aboutme-intro {
                    color: #{$aboutme-text-main};
                    width: 75%;
                    padding: 0.75rem 1.5rem;
                    height: fit-content;
                    font-size: 1.5rem;
                    grid-row-start: 4;
                    grid-row-end: 5;
                    justify-self: center;
                    border: 0.25rem solid #{$aboutme-text-main};
                    border-radius: 0.5rem;
                    background-color: #{$bm-item-border};

                }

                @media (min-width: 576px) {
                    padding-left: 150px;
                }

                @media (min-width: 1200px) {
                    padding-left: 300px;
                        .aboutme-title {
                            font-size: 4rem;
                        }

                        .aboutme-intro {
                            font-size: 2rem;
                        }
                }


            }
        }
    }
}