.banner-top {

    .banner-v-wrapper {                                             // Set-up container and adjust fonts and padding of title with smooth transitions in size and position
        display: flex;
        flex-direction: row;
        padding-left: 0;
        transition: padding-left 0.05s linear;

        @media (min-width: 576px) {
            transition: padding-left 0.05s linear;
            padding-left: 150px;
        }

        @media (min-width: 1200px) {
            transition: padding-left 0.05s linear;            
            padding-left: 300px;
        }

        align-items: center;
        height: 100vh;
        background-image: url(../img/background-pexels-felix-mittermeier-956981.jpg);
        background-size: cover;
        background-position: center;
        box-shadow: inset 0 0 1rem 1rem #10102088;

        .banner-h-wrapper {
            height: 100%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 7fr 5fr 7fr 1.5fr;

            .banner-text {                                      // Set up defaults and transitions
                font-family: "roboto", sans-serif;
                margin: 0; 
                color: white;
                text-align: center;
                letter-spacing: 0.05rem;
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 2;
                grid-row-end: 3;

                :nth-child(1), :nth-child(1) {
                    display: inline-block;
                    transition: font-size 0.05s linear;
                    font-size: 1.2rem;
                    font-weight: 400;
                    margin-bottom: -0.1rem;
                }

                :nth-child(2) {
                    transition: font-size 0.05s linear;
                    font-size: 2.625rem;
                    font-weight: 500;
                }

                :nth-child(3) {
                    transition: font-size 0.05s linear;
                    padding-top: 0.25rem;
                    font-size: 1.125rem;
                    font-weight: 300;
                    border-top: 0.05rem solid;
                }
                

                @media (min-width: 576px) {                     // Scale banner title

                    .banner-title, .banner-title * {
                        font-size: 1.6rem;
                    }

                    .banner-name, .banner-name * {
                        font-size: 3.5rem;
                    }
                    
                    .banner-profession, .banner-profession * {
                        font-size: 1.5rem;
                    }
                }

                @media (min-width: 768px) {

                    .banner-title, .banner-title * {
                        font-size: 2.8rem;
                    }

                    .banner-name, .banner-name * {
                        font-size: 6.125rem;
                    }

                    .banner-profession, .banner-profession * {
                        font-size: 2.625rem;
                    }
                }

                @media (min-width: 992px) {

                    .banner-title, .banner-title * {
                        font-size: 4.2rem;
                    }

                    .banner-name, .banner-name * {
                        font-size: 9.1875rem;
                    }

                    .banner-profession, .banner-profession * {
                        font-size: 3.938rem;
                    }
                }

            }

            #page-turner-1 {
                display: flex;
                flex-direction: column;
                align-self: center;
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 4;
                grid-row-end: 5;

                a {
                    position: static;
                    display: block;
                    color: white;
                    text-align: center;
                    
                    

                    img {
                        width: 2.5rem;
                        text-decoration: none;
                        opacity: #{$next-prev-opacity};
                    }

                }

            }
        }

    }
}