.code-drop-shadow {

    filter: drop-shadow(0.15rem 0.15rem #22222233);
}

.code-name {

    min-width: 280px;
    padding: 1rem 1.5rem;
    border-radius: 0.16rem;
    color: white;
    background-color: rgb(33, 33, 54);
    filter: drop-shadow(0 0 0.5rem #00000066);
    z-index: 4;
}