body {
    z-index: 0;
}

main {
    z-index: 0;
}

#coding-top {

    z-index: 0;
    box-sizing: border-box;
    text-wrap: wrap;
    width: 100vw;
    height: fit-content;
    background: linear-gradient(to top left, #{$form-bg-colour-3}, #{$form-bg-colour-2} 50%, #{$form-bg-colour-1} 100%);
    font-family: "roboto", sans-serif;
    overflow: visible;
    min-width: 280px;
    color: #000;

    #coding-v-wrapper {

        height: fit-content;

        @media (min-width: 576px) {
            padding-left: 150px;
            width: calc(100vw - 150px);
        }

        @media (min-width: 1200px) {
            padding-left: 300px;
            width: calc(100vw - 300px);
        }

        #coding-title {

            width: 100%;
            height: 8rem;
            color: #000;
            background-color: transparent;
            border-bottom: 1px solid #ffd06c;
            text-shadow: 0.2rem 0.2rem 0.2rem #00000033;
            z-index: 1;

            display: grid;
            grid-template-columns: 10fr 1fr 10fr;
            grid-template-rows: 8rem;

            #coding-title-text {
                
                grid-column-start: 2;
                grid-column-end: 3;
                align-self: center;
                text-align: center;
                font-size: 3rem;
                font-weight: 600;
            }
            
        }

        #coding-button-wrapper {

            display: grid;
            grid-template-columns: 8fr 60px 40px 60px 8fr;
            grid-template-rows: 100%;
            height: 0;
            width: 100%;
            padding-top: 2rem;

            .coding-prev-arrow-container {

                z-index: 4;
                grid-column-start: 2;
                grid-column-end: 3;
                border: none;
                background-color: transparent;
                width: 60px;
                height: 60px;
                padding: 0;

                #coding-prev-arrow-image {
                    width: 60px;
                    height: 60px;


                    transition-property: scale, filter;
                    transition-duration: 0.1s;
                    transition-timing-function: ease-in;
                    scale: 1;

                    &:hover {

                        transition-property: scale, filter;
                        transition-duration: 0.1s;
                        transition-timing-function: ease-in;
                        scale: 1.08;
                        filter: drop-shadow(0.25rem 0.25rem 0.25rem #00000033);
                        overflow: visible;
                    }
                }

            }

            .coding-next-arrow-container {

                z-index: 4;
                grid-column-start: 4;
                grid-column-end: 5;
                border: none;
                background-color: transparent;
                width: 60px;
                height: 60px;
                padding: 0;

                #coding-next-arrow-image {

                    width: 60px;
                    height: 60px;

                    transition-property: scale, filter;
                    transition-duration: 0.1s;
                    transition-timing-function: ease-in;
                    scale: 1;

                    &:hover {

                        transition-property: scale, filter;
                        transition-duration: 0.1s;
                        transition-timing-function: ease-in;
                        scale: 1.08;
                        filter: drop-shadow(0.25rem 0.25rem 0.25rem #00000033);
                        overflow: visible;
                    }
                }

                // @media (min-width: 576px) {
                //     left: calc(((100vw - 150px) / 2) + 170px);
                // }

                // @media (min-width: 1200px) {
                //     left: calc(((100vw - 300px) / 2) + 320px);
                // }
            }
        }

        #coding-h-wrapper {

            border-top: 1px solid #ffd06c;
            overflow: visible;
            margin-top: 6rem;
            height: fit-content;
            z-index: 0;
                box-shadow: inset 0 1.5rem 1.5rem #00000022;

            @media (min-width: 1700px) {
                display: grid;
                grid-template-columns: 45% 45%;
                grid-template-rows: auto;
                padding: 0 5% 0 5%;
                justify-content: space-around;
            }

            #code-top-1 #code-transporter-header {

                background-image: url("../img/Designed-by-starline-Freepik8620.png");
                border-radius: 1rem;
                border: 0.3rem dashed #{$card-txt-colour-1};

                @media (max-width: 767.999px) {
                    background-image: none;
                    grid-template-columns: 1fr;
                }
            }

            #code-top-2 #code-jsarray-header {

                background-image: url("../img/magnific_abstract-cartoon-style-gr_xgb1xJTjfW.png");
                border-radius: 1rem;
                border: 0.3rem dashed #{$card-txt-colour-1};

                @media (max-width: 767.999px) {
                    background-image: none;
                    grid-template-columns: 1fr;
                }
            }

            .code-example-top {

                background-image: linear-gradient(90deg, transparent 0%, transparent 44%, #ffffff66 45%, #ffffff66 55%, transparent 56%, transparent 100%);
                height: fit-content;
                position: relative;
                padding-top: 33rem;
                justify-self: center;
                overflow: visible;
                z-index: 3;

                &::before {

                    content: "";
                    position: absolute;
                    inset: 0;

                    top: 3.78rem;
                    height: 26rem;
                    background-image: linear-gradient(0deg,#ffaa9477 0%, #ffe4dd77 50%, #ffaa9477 100%);
                    border-radius: 0.5rem;
                    width: 100%;
                    z-index: -1;

                }

                .code-example-header {

                    position: absolute;
                    top: 80px;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 4;
                    overflow: hidden;

                    display: grid;
                    grid-template-columns: 1fr 2fr;
                    grid-template-rows: 1fr 1fr 1fr;

                    background-color: white;
                    text-align: center;
                    font-weight: 600;
                    color: #{$card-txt-colour-1};
                    padding: 1.5rem 0;
                    box-shadow: 0.5rem 0.5rem 0.5rem #44444444;

                    @media (max-width: 319.999px) {
                        width: 240px;
                    }

                    @media (min-width: 320px) {
                        width: 250px;
                    }

                    @media (min-width: 576px) {
                        width: 300px;
                    }

                    @media (min-width: 768px) {
                        width: 400px;
                    }

                    @media (min-width: 1200px) {
                        width: 500px;
                    }



                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: 1rem center;

                    div {
                        display: block;
                    }

                    .code-example-header-title {

                        z-index: 4;
                        align-self: center;
                        grid-row-start: 1;
                        grid-row-end: 2;
                        grid-column-start: 1;
                        grid-column-end: 2;

                        @media (min-width: 768px) {
                            grid-column-start: 2;
                            grid-column-end: 3;
                        }

                        font-size: 2rem;
                        font-weight: 800;
                        padding: 1rem 2rem 1rem;
                        text-shadow: 0 0 0.25rem #ffffff;

                    }

                    .code-example-header-badge {

                        align-self: center;
                        grid-row-start: 2;
                        grid-row-end: 3;
                        grid-column-start: 1;
                        grid-column-end: 2;
                        z-index: 4;

                        @media (min-width: 768px) {

                            grid-column-start: 2;
                            grid-column-end: 3;
                        }

                        padding: 2rem 0 2rem;
                        font-size: 1.4rem;

                    }


                    .code-example-header-subtitle {
                        
                        z-index: 4;
                        grid-row-start: 3;
                        grid-row-end: 4;
                        grid-column-start: 1;
                        grid-column-end: 2;

                        @media (min-width: 768px) {
                            grid-column-start: 1;
                            grid-column-end: 3;
                        }

                        font-size: 1.25rem;
                        padding: 1rem 1rem 1rem;
                        height: fit-content;
                        min-height: 2.5rem;
                        background-color: #ddddffcc;
                        text-shadow: 0 0 0.25rem #ffffff;

                        display: flex;
                        flex-direction: row;
                        align-content: center;

                        span {
                            align-self: center;
                            margin: 0 auto;
                        }

                    }
                }

                .code-example-content {

                    position: relative;
                    align-items: center;
                    overflow: visible;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: auto;
                    z-index: 3;
                    justify-items: center;
                    top: 0;
                    height: fit-content;
                    width: 100%;

                    .code-content-video {

                        display: block;
                        align-self: center;
                        border: 1px solid white;
                        margin-top: 2rem;
                        overflow: visible;
                        box-shadow: 0.5rem 0.5rem 0.5rem #37373766;
                        justify-self: center;
                        z-index: 3;

                        width: 80%;

                        @media (max-width: 319.999px) {

                            width: 252px;
                            height: 138px;
                            left: calc((100vw / 2) - 126px);
                        }

                        @media (min-width: 576px) {
                        }

                        @media (min-width: 1200px) {
                            max-width: 1000px;
                        }
                    }

                    .code-content-textblock {

                        box-shadow: 0.5rem 0.5rem 0.5rem #60606066;
                        text-align: center;
                        align-self: center;
                        padding: 1rem 1.5rem;
                        background-color: #{$card-bg-colour-1};
                        margin: 4rem 0 4rem;
                        border-radius: 0.5rem;
                        border: 0.1rem solid #888;
                        font-size: 1.1rem;
                        z-index: 3;
                        box-sizing: border-box;

                        width: 75%;

                        @media (max-width: 319.999px) {

                            width: 100vw;
                            left: calc((100vw / 2) - 126px);
                            padding: 1rem 0.5rem;
                            border-radius: 0;
                        }

                        @media (min-width: 576px) {
                            font-size: 1.35rem;
                        }

                        @media (min-width: 1200px) {
                            font-size: 1.5rem;
                            max-width: 1000px;
                        }
                    }

                    .code-content-image {

                        display: block;
                        align-self: center;
                        border: 0.2rem solid #ffffff;
                        width: calc(100vw - 60px);
                        z-index: 3;

                        width: 80%;

                        @media (max-width: 319.999px) {

                            width: 252px;
                            left: calc((100vw / 2) - 126px);
                        }

                        @media (max-width: 767.999px) {

                            transition: scale 0.2s ease-in;
                            scale: 1;

                            &:hover {

                                transition: scale 0.2s ease-in;
                                scale: 1.1;
                            }
                        }

                        @media (min-width: 1200px) {

                            max-width: 1000px;
                        }

                    }

                    .code-content-image-L {

                        display: block;
                        align-self: center;
                        border: 0.2rem solid #ffffff;
                        width: calc(100vw - 60px);
                        z-index: 3;

                        width: 90%;

                        @media (max-width: 319.999px) {

                            width: 252px;
                            left: calc((100vw / 2) - 126px);
                        }

                        @media (max-width: 3199.999px) {

                            transition: scale 0.2s ease-in;
                            scale: 1;

                            &:hover {

                                transition: scale 0.2s ease-in;
                                scale: 1.15;
                            }
                        }

                        @media (min-width: 1200px) {

                            max-width: 1000px;
                        }

                    }                    
                }
            }
        }
    }
}