@mixin project-card($card-index, $card-width, $card-height, $card-border, $card-bg, $card-bg-alt, $card-text, $font-family, $font-size-title, $font-size-link) {

:nth-child(#{$card-index}) {                                        // select the div corresponding to the $card-index value
        width: #{$card-width};
        padding: 0;
        margin: 0;

        .prj-card-data {                                            // set width, height, font family, border and colours
            width: #{$card-width};
            height: #{$card-height};
            font-family: #{$font-family}, sans-serif;
            background-color: #{$prj-page-bg};
            color: #{$card-text};
            padding: 0;
            overflow-x: clip;
            border-radius: 0.5rem;

            .prj-image-wrapper {                                    // set up images
                padding: 0;
                position: relative;
                width: #{$card-width};
                display: flex;
                flex-direction: row;
                // justify-content: flex-end;
                
                .prj-card-detailsimage {
                    position: relative;
                    display: none;
                }
                .prj-card-coverimage {
                    position: relative;
                    display: block;
                }

                .prj-card-coverimage, .prj-card-detailsimage {
                    width: #{$card-width};
                    padding: 0;
                    height: calc(#{$card-height} * 0.82);
                    z-index: 0;
                    border-bottom: 0.05rem solid #{$card-text};
                    left: 0;
                    top: 0;
                }

            }

            .prj-card-text {                                        // calculate proportional size of text block
                padding: 0;
                height: calc(#{$card-height} * 0.18);
                width: #{$card-width};
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 1fr 1fr;
                justify-content: space-between;
                filter: drop-shadow(0 0 1.5rem #00000088);
                border-radius: 0.5rem;


                a:hover {                                           // show gradient on hover
                    filter: drop-shadow(0 0 0.5rem white);
                    color: white;
                    // font-weight: 600;
                    // letter-spacing: -0.35px;
                }

                div {                                               // title styling
                    width: 99%;
                    height: 98%;
                    padding: 0;
                    font-weight: 600;
                    font-size: #{$font-size-title};
                    display: block;
                    color: #{$card-text};
                    align-content: center;
                    background: linear-gradient(90deg, #000 2%, #{$card-bg-alt} 15%, #{$card-bg} 50%, #{$card-bg-alt} 85%, #000 98%), linear-gradient(0deg, #000 2%, #{$card-bg-alt} 15%, #{$card-bg} 50%, #{$card-bg-alt} 85%, #000 98%);
                    border: 0.5px solid #ddd;
                    border-radius: 0.5rem;
                    box-shadow: 0 -0.3rem 0.5rem #00000033;
                    text-shadow: 0.04rem 0.04rem 0.01rem #{$card-bg};
                }

                a {                                                 // anchor styling
                    transition: text-shadow 0.1s linear;
                    width: 99%;
                    height: 98%;
                    padding: 0;
                    font-weight: 350;
                    font-size: #{$font-size-link};
                    display: block;
                    text-decoration: none;
                    color: #{$prj-card-border};
                    align-content: center;
                    border: 0.5px solid #{$card-bg-alt};
                    border-radius: 0.5rem;
                    box-shadow: 0 -0.25rem 0.5rem #00000055;
                    justify-self: end;
                }

            }

                                                                    // hovering on the card brings the alt image into view
            &:hover {
                .prj-image-wrapper {


                    .prj-card-coverimage {
                        display: none;
                    }

                    .prj-card-detailsimage {
                        display: block;
                    }

                    
                }
            }
            //                                                         // and releases back to the default
            // &:not(:hover) {
            //     .prj-image-wrapper {
            //         .prj-card-detailsimage {
            //             display: none;
            //         }
            //         .prj-card-coverimage {
            //             display: block;
            //         }
            //     }
            // }
        }
    }
}