@mixin project-card($card-index, $card-width, $card-height, $card-border, $card-bg, $card-bg-alt, $card-text, $font-family, $font-size-title, $font-size-link) {

:nth-child(#{$card-index}) {                                        // select the div corresponding to the $card-index value
        width: #{$card-width};
        padding: 0;
        margin: 0;

        .prj-card-data {                                            // set width, height, font family, border and colours
            width: #{$card-width};
            height: #{$card-height};
            font-family: #{$font-family}, sans-serif;
            background-color: #{$prj-page-bg};
            color: #{$card-text};
            padding: 0;
            border-radius: 0.5rem;
            position: relative;
            top:0;
            left:0;

            .prj-card-overlay-title {

                position: relative;
                display: block;
                width: 100%;
                height: 2.1rem;
                bottom: 80%;
                left: 0;
                background-color: #555588;
                color: #fff;
                font-size: 1.75rem;
                @media (max-width: 992px) {
                    font-size: 1.2rem;
                    height: 1.4rem;
                }
                font-weight: 500;
                padding-top: 0.25rem;
                text-shadow: 0 0 0.3rem #000000;
                border-top: 1px solid #88888888;
                border-bottom: 1px solid #88888888;
            }

            .prj-card-overlay-builtwith {

                text-shadow: 0 0 0.3rem #000000;
                position: relative;
                display: inline-block;
                width: 100%;
                height: fit-content;
                bottom: 75%;
                left: 5px;
                background-color: transparent;
                color: #fff;
                font-size: 1.5rem;
                @media (max-width: 992px) {
                    font-size: 1rem;
                }
                padding-top: 0.25rem;
                list-style-type: none;

                li {
                    width: fit-content;
                    transform: skew(-14deg);
                    margin-bottom: 0.25rem;
                }

            }

            .prj-image-wrapper {                                    // set up images
                padding: 0;
                position: relative;
                top: 0;
                left: 0;
                width: #{$card-width};
                display: flex;
                flex-direction: row;

                .prj-card-coverimage {

                    position: relative;
                    display: block;
                    width: #{$card-width};
                    padding: 0;
                    height: calc(#{$card-height} * 0.82);
                    z-index: 0;
                    border-bottom: 0.05rem solid #{$card-text};
                    left: 0;
                    top: 0;
                }

            }

            .prj-card-text {                                        // calculate proportional size of text block

                padding: 0;
                margin-top: auto;
                height: calc(#{$card-height} * 0.18);
                width: #{$card-width};
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-between;
                filter: drop-shadow(0 0 1.5rem #00000088);
                border-radius: 0.5rem;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                z-index: 2;


                a:hover {                                           // show glow on hover

                    text-shadow: 0 0 0.5rem white;
                    color: white;
                }

                a {                                                 // anchor styling
                    transition: text-shadow 0.1s linear;
                    width: 49.45%;
                    height: 98%;
                    padding: 0;
                    font-weight: 350;
                    font-size: #{$font-size-link};
                    display: block;
                    text-decoration: none;
                    color: #eee;
                    background-color: #55558833;
                    align-content: center;
                    border: 0.5px solid #{$card-bg-alt};
                    border-radius: 0.15rem;
                    box-shadow: 0 -0.25rem 0.5rem #00000055;
                    justify-self: end;
                }

            }

                                                                    // hovering on the card brings the alt image into view
            // &:hover {
            //     .prj-image-wrapper {


            //         .prj-card-coverimage {
            //             display: none;
            //         }

            //         .prj-card-detailsimage {
            //             display: block;
            //         }

                    
            //     }
            // }
            //                                                         // and releases back to the default
            // &:not(:hover) {
            //     .prj-image-wrapper {
            //         .prj-card-detailsimage {
            //             display: none;
            //         }
            //         .prj-card-coverimage {
            //             display: block;
            //         }
            //     }
            // }
        }
    }
}