.prj-top {
    z-index: 0;
    background-color: #{$prj-page-bg};
    height: calc(#{$prj-card-height} * 7.5);
    padding: 3rem 0;

    .prj-v-wrapper {                                // Adjust padding at 675px and 1200px to allow for menu and expanded menu
        display: flex;
        flex-direction: column;
        text-align: center;

        @media (min-width: 576px) {
            padding-left: 150px;
        }

        @media (min-width: 1200px) {
            padding-left: 300px;
        }

        .prj-h-wrapper {
            margin: 0;

            #page-turner-3 {        
                display: none;                // Previous page icon and link

                a {
                    position: static;
                    display: block;
                    color: white;
                    left: calc(50vw - 1.25rem);

                    img {
                        position: relative;
                        width: 2.5rem;
                        text-decoration: none;
                        top: -2.5rem;
                        opacity: #{$next-prev-opacity};
                    }

                }

            }

            .prj-cards {

                @media (max-width: 831.999px) {

                    @for $prj-card-index from 1 through 6 {
                        @include project-card($prj-card-index, $prj-card-width, $prj-card-height, $prj-card-border, $prj-card-bg, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);
                    }
                }

                @media (min-width: 832px) {                  // Make cards 25% bigger
                    $prj-card-width: 300px;
                    $prj-card-height: 246px;

                    @for $prj-card-index from 1 through 6 {
                        @include project-card($prj-card-index, $prj-card-width, $prj-card-height, $prj-card-border, $prj-card-bg, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);
                    }
                }

                @media (min-width: 992px) {                 // Make cards 50% bigger

                    $prj-card-width: 384px;
                    $prj-card-height: 315px;
                    $prj-font-size-title: 1.625rem;
                    $prj-font-size-link: 1.43rem;

                    @for $prj-card-index from 1 through 6 {
                        @include project-card($prj-card-index, $prj-card-width, $prj-card-height, $prj-card-border, $prj-card-bg, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);
                    }
                }

                @media (min-width: 1200px) {

                    $prj-card-width: 384px;
                    $prj-card-height: 315px;
                    $prj-font-size-title: 1.625rem;
                    $prj-font-size-link: 1.43rem;

                    @for $prj-card-index from 1 through 6 {
                        @include project-card($prj-card-index, $prj-card-width, $prj-card-height, $prj-card-border, $prj-card-bg, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);
                    }
                }

                @media (min-width: 1350px) {                // Make cards 75% bigger

                    $prj-card-width: 448px;
                    $prj-card-height: 367.36px;
                    $prj-font-size-title: 2rem;
                    $prj-font-size-link: 1.76rem;

                    @for $prj-card-index from 1 through 6 {
                        @include project-card($prj-card-index, $prj-card-width, $prj-card-height, $prj-card-border, $prj-card-bg, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);
                    }

                }

                @media (min-width: 1440px) {                // Make cards 100% bigger

                    $prj-card-width: 512px;
                    $prj-card-height: 419.84px;
                    $prj-font-size-title: 2.4rem;
                    $prj-font-size-link: 2.112rem;

                    @for $prj-card-index from 1 through 6 {
                        @include project-card($prj-card-index, $prj-card-width, $prj-card-height, $prj-card-border, $prj-card-bg, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);
                    }
                }

                display: grid;                              // This section manipulates the GRID and children's properties to change the layout across media widths.
                grid-template-columns: 100%;
                grid-template-rows: repeat(6, 1fr);


                :nth-child(n) {
                    padding: 1.25rem 0.625rem 0 0.625rem;
                }

                :nth-child(2), :nth-child(4), :nth-child(6) {
                    justify-self: end;
                }

                :nth-child(1), :nth-child(3), :nth-child(5) {
                    justify-self: start;
                }

                @media (min-width: 576px) {

                    :nth-child(n) {
                        padding: 1.25rem 2.5rem 0 2.5rem;
                    }
                }

                @media (min-width: 768px) {
                    grid-template-columns: 50% 50%;
                    grid-template-rows: repeat(3, 66.6667%);

                    :nth-child(2), :nth-child(4), :nth-child(6) {
                        align-self: end;
                    }

                    @media (min-width: 832px) {

                        :nth-child(2), :nth-child(4), :nth-child(6) {
                            align-self: center;
                        }

                    }

                    @media (min-width: 992px) {

                        :nth-child(2), :nth-child(4), :nth-child(6) {
                            align-self: start;


                        }

                    }
                }

                @media (min-width: 992px) {
                    grid-template-rows: repeat(3, 49.5%);

                    :nth-child(1), :nth-child(3), :nth-child(5) {
                        align-self: end;
                    }

                    @media (min-width: 832px) {

                        :nth-child(2), :nth-child(4), :nth-child(6) {
                            align-self: center;
                        }

                    }

                    @media (min-width: 896px) {

                        :nth-child(2), :nth-child(4), :nth-child(6) {
                            align-self: start;


                        }

                    }
                }

                @media (min-width: 1350px) {
                    grid-template-rows: repeat(3, 40%);
                }

                @media (min-width: 1440px) {
                    grid-template-rows: repeat(3, 36%);

                        
                    :nth-child(1), :nth-child(2), :nth-child(5), :nth-child(6) {
                        justify-self: end;
                    }

                    :nth-child(3), :nth-child(4) {
                        justify-self: start;
                    }


                    :nth-child(n) {
                        align-self: center;
                    }
                }


            }

        }
    }
}