.prj-top {
    z-index: 0;
    background-color: #{$prj-page-bg};
    height: calc(#{$prj-card-height} * 7.5);
    padding: 3rem 0;

    .prj-v-wrapper {                                // Adjust padding at 576px and 1200px to allow for menu and expanded menu
        display: flex;
        flex-direction: column;
        text-align: center;

        @media (min-width: 576px) {
            padding-left: 150px;
        }

        @media (min-width: 1200px) {
            padding-left: 300px;
        }

        .prj-h-wrapper {
            margin: 0;

            #page-turner-3 {                        // Previous page icon and link
                display: none;

                a {
                    position: static;
                    display: block;
                    color: white;
                    left: calc(50vw - 1.25rem);

                    img {
                        position: relative;
                        width: 2.5rem;
                        text-decoration: none;
                        top: -2.5rem;
                        opacity: #{$next-prev-opacity};
                    }

                }

            }

            .prj-cards {                                            // Uses a mixin to generate the project card styling with Params: size, colours, font family and sizes, and border.
                                                                    // The mixin styles each card and flips the image to details on hover.

                @media (max-width: 831.999px) {

                    @include project-card(1, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-1, $card-bg-colour-alt-1, $prj-card-text, $prj-font-family, 0.95rem, $prj-font-size-link);

                    @include project-card(2, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-2, $card-bg-colour-alt-2, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);

                    @include project-card(3, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-3, $card-bg-colour-alt-3, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);

                    @include project-card(4, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-4, $card-bg-colour-alt-4, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);

                    @include project-card(5, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-5, $card-bg-colour-alt-5, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);

                    @include project-card(6, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-6, $card-bg-colour-alt-6, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);
                }

                @media (min-width: 832px) {                  // Make cards bigger
                    $prj-card-width: 280px;
                    $prj-card-height: 229.6px;

                    @include project-card(1, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-1, $card-bg-colour-alt-1, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);

                    @include project-card(2, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-2, $card-bg-colour-alt-2, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);

                    @include project-card(3, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-3, $card-bg-colour-alt-3, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);

                    @include project-card(4, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-4, $card-bg-colour-alt-4, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);

                    @include project-card(5, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-5, $card-bg-colour-alt-5, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);

                    @include project-card(6, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-6, $card-bg-colour-alt-6, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);

                }

                @media (min-width: 992px) {                 // Make cards even bigger

                    $prj-card-width: 365px;
                    $prj-card-height: 299.3px;
                    $prj-font-size-title: 1.625rem;
                    $prj-font-size-link: 1.43rem;

                    @include project-card(1, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-1, $card-bg-colour-alt-1, $prj-card-text, $prj-font-family, 1.4rem, $prj-font-size-link);

                    @include project-card(2, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-2, $card-bg-colour-alt-2, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);

                    @include project-card(3, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-3, $card-bg-colour-alt-3, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);

                    @include project-card(4, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-4, $card-bg-colour-alt-4, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);

                    @include project-card(5, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-5, $card-bg-colour-alt-5, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);

                    @include project-card(6, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-6, $card-bg-colour-alt-6, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);
                    
                }

                @media (min-width: 1200px) {

                    $prj-card-width: 384px;
                    $prj-card-height: 315px;
                    $prj-font-size-title: 1.625rem;
                    $prj-font-size-link: 1.43rem;


                    @include project-card(1, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-1, $card-bg-colour-alt-1, $prj-card-text, $prj-font-family, 1.45rem, $prj-font-size-link);

                    @include project-card(2, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-2, $card-bg-colour-alt-2, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);

                    @include project-card(3, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-3, $card-bg-colour-alt-3, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);

                    @include project-card(4, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-4, $card-bg-colour-alt-4, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);

                    @include project-card(5, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-5, $card-bg-colour-alt-5, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);

                    @include project-card(6, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-6, $card-bg-colour-alt-6, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);

                }

                @media (min-width: 1350px) {                // Make cards much bigger

                    $prj-card-width: 448px;
                    $prj-card-height: 367.36px;
                    $prj-font-size-title: 2rem;
                    $prj-font-size-link: 1.76rem;

                    @include project-card(1, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-1, $card-bg-colour-alt-1, $prj-card-text, $prj-font-family, 1.65rem, $prj-font-size-link);

                    @include project-card(2, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-2, $card-bg-colour-alt-2, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);

                    @include project-card(3, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-3, $card-bg-colour-alt-3, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);

                    @include project-card(4, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-4, $card-bg-colour-alt-4, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);

                    @include project-card(5, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-5, $card-bg-colour-alt-5, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);

                    @include project-card(6, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-6, $card-bg-colour-alt-6, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);

                }

                @media (min-width: 1440px) {                // Make cards 100% bigger

                    $prj-card-width: 512px;
                    $prj-card-height: 419.84px;
                    $prj-font-size-title: 2.4rem;
                    $prj-font-size-link: 2.112rem;

                    @include project-card(1, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-1, $card-bg-colour-alt-1, $prj-card-text, $prj-font-family, 1.8rem, $prj-font-size-link);

                    @include project-card(2, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-2, $card-bg-colour-alt-2, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);

                    @include project-card(3, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-3, $card-bg-colour-alt-3, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);

                    @include project-card(4, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-4, $card-bg-colour-alt-4, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);

                    @include project-card(5, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-5, $card-bg-colour-alt-5, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);

                    @include project-card(6, $prj-card-width, $prj-card-height, $prj-card-border, $card-bg-colour-6, $card-bg-colour-alt-6, $prj-card-text, $prj-font-family, $prj-font-size-title, $prj-font-size-link);

                }

                

                display: grid;                              // This section manipulates the GRID and childrens' properties to change the layout across media widths.
                grid-template-columns: 100%;
                grid-template-rows: repeat(6, 1fr);


                #prj-card-1-top, #prj-card-2-top, #prj-card-3-top, #prj-card-4-top, #prj-card-5-top, #prj-card-6-top {                             // initial state 
                    padding: 1.25rem 0.625rem 0 0.625rem;
                }
                #prj-card-2-top, #prj-card-4-top, #prj-card-6-top {
                    justify-self: end;
                }
                #prj-card-1-top, #prj-card-3-top, #prj-card-5-top {
                    justify-self: start;
                }
                @media (min-width: 576px) {                             // @media calls to manipulate positioning of cards

                    #prj-card-1-top, #prj-card-2-top, #prj-card-3-top, #prj-card-4-top, #prj-card-5-top, #prj-card-6-top {
                        padding: 1.25rem 2.5rem 0 2.5rem;
                    }
                }
                @media (min-width: 768px) {
                    grid-template-columns: 50% 50%;
                    grid-template-rows: repeat(3, 66.6667%);

                    #prj-card-2-top, #prj-card-4-top, #prj-card-6-top {
                        align-self: end;
                    }

                    @media (min-width: 832px) {

                        #prj-card-2-top, #prj-card-4-top, #prj-card-6-top {
                            align-self: center;
                        }

                    }

                    @media (min-width: 992px) {

                        #prj-card-2-top, #prj-card-4-top, #prj-card-6-top {
                            align-self: start;


                        }

                    }
                }
                @media (min-width: 992px) {
                    grid-template-rows: repeat(3, 49.5%);

                    #prj-card-1-top, #prj-card-3-top, #prj-card-5-top {
                        align-self: end;
                    }

                    @media (min-width: 832px) {

                        #prj-card-2-top, #prj-card-4-top, #prj-card-6-top {
                            align-self: center;
                        }

                    }

                    @media (min-width: 896px) {

                        #prj-card-2-top, #prj-card-4-top, #prj-card-6-top {
                            align-self: start;
                        }

                    }
                }
                @media (min-width: 1350px) {
                    grid-template-rows: repeat(3, 40%);
                }
                @media (min-width: 1440px) {
                    grid-template-rows: repeat(3, 36%);

                        
                    #prj-card-1-top, #prj-card-2-top, #prj-card-5-top, #prj-card-6-top {
                        justify-self: end;
                    }

                    #prj-card-3-top, #prj-card-4-top {
                        justify-self: start;
                    }


                    #prj-card-1-top, #prj-card-2-top, #prj-card-3-top, #prj-card-4-top, #prj-card-5-top, #prj-card-6-top {
                        align-self: center;
                    }
                }
            }

        }
    }
}