.scs-top {                                                  // Page Setup
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    background-color: #{$prj-page-bg};
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/earth.png), radial-gradient(circle, #ffffff33 71%, transparent 77%, transparent 100%), url(../img/background-pexels-felix-mittermeier-956981.jpg);
    overflow-x: clip;

    .scs-v-wrapper {
        height: fit-content;

        .scs-h-wrapper {
            display: flex;
            flex-direction: column;
            height: fit-content;
            justify-items: center;
            align-items: center;
            padding-top: 1.5rem;

            .scs-sections {
                display: grid;
                grid-template-rows: auto;
                width: 95%;
                row-gap: 2rem;
                text-align: left;
                padding-top: 3rem;
                padding-bottom: 4rem;

                .scs-scsintro {                                     // SCS Scheme description and link icon
                    height: fit-content;
                    max-width: 330px;
                    color: #{$prj-card-text};
                    background-color: #{$prj-card-bg};
                    font-family: "roboto", sans-serif;
                    font-size: 1rem;
                    border: 0.625rem double #{$prj-page-bg};
                    border-radius: 1rem;
                    width: 80%;
                    padding: 0.5rem 1rem 1rem 1rem;
                    justify-self: center;

                    .scs-title {
                        font-size: 1.25rem;
                        padding: 1rem 0 1rem;
                        text-align: center;
                    }

                    .scs-text {                        
                        padding-top: 0.5rem;
                        padding-bottom: 1.75rem;;
                        text-align: center;
                    }

                    #scion-homepage-link-container {
                        width: 100%;
                        display: grid;
                        grid-template-columns: 7fr 1fr 7fr;
                        padding: 0.7rem 0 0.7rem 0;
                        height: fit-content;

                        #scion-homepage-link {
                            grid-column-start: 2;
                            grid-column-end: 3;
                            display: block;
                            height: 48px;
                        }

                        #scion-homepage-link-alt {
                            grid-column-start: 2;
                            grid-column-end: 3;
                            display: none;
                            height: 48px;
                        }

                        

                        &:hover {
                            background-image: linear-gradient(315deg, #441144 25%, #4b6a9f 50%, #3b6539 75%, #210505 100%);
                            border-radius: 0.5rem;
                            box-shadow: 0.2rem 0.2rem 0.3rem 0.3rem #00000033;

                            #scion-homepage-link {
                                display: none;
                            }

                            #scion-homepage-link-alt {
                                display: block;
                                
                            }
                        }
                    }
                }

                .scs-treehouse {                                    // Treehouse description and link icon
                    height: fit-content;
                    max-width: 350px;
                    color: #{$scs-th-text};
                    background-color: #{$scs-th-bg};
                    font-family: "roboto", sans-serif;
                    font-size: 1rem;
                    border: 0.25rem solid #{$scs-th-border};
                    border-radius: 0.5rem;
                    width: 80%;
                    justify-self: center;
                    padding: 0.5rem 1rem 1rem 1rem;

                    .scs-title {
                        text-align: center;
                        font-size: 1.25rem;
                        padding-bottom: 1.5rem;
                        padding-top: 1rem;
                    }

                    .scs-text {
                        text-align: center;
                        padding-bottom: 1.75rem;
                    }
                    

                    #treehouse-homepage-link-container {
                        width: 100%;
                        display: grid;
                        grid-template-columns: 7fr 1fr 7fr;
                        padding: 0.7rem 0 0.7rem;

                        #treehouse-homepage-link {
                            grid-column-start: 2;
                            grid-column-end: 3;
                            display: block;
                            height: fit-content;
                        }

                        #treehouse-homepage-link-alt {
                            grid-column-start: 2;
                            grid-column-end: 3;
                            display: none;
                            height: fit-content;
                        }

                        

                        &:hover {
                            background-image: linear-gradient(315deg, #375491 25%, #4ba366 50%, #9e822d 75%, #c05971 100%);
                            border-radius: 0.5rem;
                            box-shadow: 0px 0px 1px 1px #000000;

                            #treehouse-homepage-link {
                                display: none;
                            }

                            #treehouse-homepage-link-alt {
                                display: block;
                            }
                        }
                    }

                }

                .scs-netmatters {                                    // Netmatters description and link icon
                    height: fit-content;
                    max-width: 330px;

                    .scs-title {                        
                        padding-top: 1.5rem;
                        text-align: center;

                        strong {
                            font-size: 1.25rem;
                        }
                    }

                    ul {                        
                        list-style-type: disc;
                        padding-left: 1.75rem;
                        line-height: 1.875rem;
                    }

                    color: #{$banner-border-color};
                    background-color: white;
                    font-family: "roboto", sans-serif;
                    font-size: 1rem;
                    border: 0.625rem double #{$scs-th-border};
                    border-radius: 1rem;
                    width: 80%;
                    padding: 0 1rem 1rem 1rem;
                    justify-self: center;
                    line-height: 1.2;
                    transition: justify-self 0.5s linear;


                    #netmatters-homepage-link-container {
                        width: 100%;
                        display: grid;
                        grid-template-columns: 7fr 1fr 7fr;
                        padding: 0.7rem 0 0.7rem;

                        #netmatters-homepage-link {
                            grid-column-start: 2;
                            grid-column-end: 3;
                            display: block;
                            height: fit-content;
                        }

                        #netmatters-homepage-link-alt {
                            grid-column-start: 2;
                            grid-column-end: 3;
                            display: none;
                            height: fit-content;
                        }

                        

                        &:hover {
                            background-image: linear-gradient(315deg, #441144 25%, #4b6a9f 50%, #3b6539 75%, #210505 100%);
                            border-radius: 0.5rem;
                            box-shadow: 0.2rem 0.2rem 0.3rem 0.3rem #00000033;

                            #netmatters-homepage-link {
                                display: none;
                            }

                            #netmatters-homepage-link-alt {
                                display: block;
                            }
                        }

                    }
                }

                @media (min-width: 576px) {
                    padding-left: 150px;
                    width: calc(100vw - 150px - 1rem);

                    @for $i from 1 through 3 {
                        :nth-child(#{$i}) {
                            .scs-title strong {
                                font-size: 1.4rem;
                            }

                            .scs-text {
                                font-size: 1.12rem;
                            }
                        }
                    }

                }

                @media (min-width: 768px) {

                    @for $i from 1 through 3 {
                        :nth-child(#{$i}) {
                            .scs-title strong {
                                font-size: 1.568rem;
                            }

                            .scs-text {
                                font-size: 1.254rem;
                            }
                        }
                    }

                }

                @media (min-width: 992px) {
                    grid-template-columns: 48% 42%;
                    column-gap: 2rem;
                    padding-left: 200px;
                    padding-right: 50px;

                    @for $i from 1 through 3 {
                        :nth-child(#{$i}) {
                            :nth-child(1) {
                                strong {
                                    font-size: 1.764rem;
                                }
                            }

                            .scs-text {
                                font-size: 1.41rem;
                            }
                        }
                    }

                    .scs-scsintro {
                        align-self: center;
                        justify-self: end;
                        grid-column-start: 1;
                        grid-column-end: 2;
                        grid-row-start: 2;
                        grid-row-end: 3;
                    }

                    .scs-netmatters {
                        align-self: center;
                        justify-self: start;
                        grid-column-start: 2;
                        grid-column-end: 3;
                        grid-row-start: 1;
                        grid-row-end: 3;
                    }

                    .scs-treehouse {
                        align-self: end;
                        justify-self: end;
                        grid-column-start: 1;
                        grid-column-end: 2;
                        grid-row-start: 1;
                        grid-row-end: 2;
                    }
                }

                @media (min-width: 1200px) {
                    padding-left: 300px;
                    padding-right: 50px;
                    width: calc(100vw - 300px - 4rem);
                }

                @media (min-height: 1080px) {
                    row-gap: 6rem;

                    @media (min-width: 992px) {
                        .scs-netmatters {
                            margin-left: 3rem;
                        }
                    }
                }

                @media (min-width: 1560px) {
                    .scs-treehouse {
                        max-width: 100%;
                        width: 28rem;
                        height: fit-content;
                    }
                }
            }
        }
    }
}