// General
$next-prev-opacity: 50%;

// Banner
$banner-border-color: #141423;

// Burger Menu variables

$burger-height-factor: 7.9;            // Adjusts the height of the menu boxes relative to the spacing, higher values give smaller boxes.
                                        // Decreasing this value below the gap factor will cause the menu boxes to overlap.
$burger-spacing-factor: 8;            // Decrease this value to increase the gap between menu boxes. Should be less than the height factor.
$Menu-width: 150px;                     // Menu box width.
$burger-button-position: "right";        // "left" and "right" are currently the only valid values [no quotes].
                                         // I would like to have this setting also swap the side the menu appears on, for LH users. Should be relatively simple
$bm-box-radius: 0.4rem;
$bm-btn-radius: 0.4rem;
// $bm-side-gap: 0px;                      // Sets the gap, if desired, to the left hand edge of the screen.
$bm-menu-mode: "block";

    // colours

$bm-main-background: #c77b23ee;
$bm-bg-emphasise: #d28824ee;
$bm-text-main: #dcd1c3;
$bm-text-initials: #ffe0af;
$bm-item-border: #44444444;
$bm-highlight: #e39d4c88;
$bm-shadow: #70461988;
$bm-mid-shadow: #b2703988;
$bm-btn-border: #d6d3c1e6;
$bm-btn-glow: #ffffff88;

// Projects Page

$prj-card-width: 244px;
$prj-card-height: 200.08px;
$prj-card-height-ratio: calc(#{$prj-card-height} / #{$prj-card-width});
$prj-card-index: 1;
$prj-font-family: "roboto";
$prj-font-size-title: 1.125rem;
$prj-font-size-link: 1rem;

    // colours

$prj-card-bg: #f6f5ff;
$prj-card-bg-alt: #c0caff;
$prj-card-text: #222255ff;
$prj-card-border: #d3d3d3;
$prj-page-bg: rgb(14, 14, 23);

// Seperate colour schemes for each card

$card-bg-colour-1: #f6f5ff; $card-bg-colour-alt-1: #c0caff; $card-txt-colour-1: #222255;
$card-bg-colour-2: #fffef7; $card-bg-colour-alt-2: #d0c394; $card-txt-colour-2: #292511;
$card-bg-colour-3: #f2fff2; $card-bg-colour-alt-3: #a1d8a1; $card-txt-colour-3: #222255;
$card-bg-colour-4: #fff5f5; $card-bg-colour-alt-4: #ffc0c0; $card-txt-colour-4: #222255;
$card-bg-colour-5: #fff5ff; $card-bg-colour-alt-5: #e7a2e7; $card-txt-colour-5: #222255;
$card-bg-colour-6: #f5ffff; $card-bg-colour-alt-6: #aad8e2; $card-txt-colour-6: #222255;


// Form

    // colours

$form-bg-colour-1: #ffff91aa;
$form-bg-colour-2: #ffbf5eaa;
$form-bg-colour-3: #ff5e5eaa;
$form-text-colour: #222244;
$form-input-border-colour: #71452e;
$form-input-border-colour-reqd: #03091e48;
$form-input-border-colour-reqd2: #131f4a4c;

// SCS

$scs-th-text: #fffadb;
$scs-th-bg: #313759;
$scs-th-border: #6d311b;

// About Me

$aboutme-text-main: #e6e6ef